$prefixCls: za-activity-indicator;
$PI: 3.141592674;

@mixin spinner-theme($color) {
  @include e(line) {
    stroke: $color;
  }
}

@mixin spinner-size($diameter) {
  width: $diameter;
  height: $diameter;
}

@include b(activity-indicator) {
  display: inline-block;
  position: relative;
  transform: rotate(-90deg);
  @include spinner-size($spinner-diameter-md);
  @include spinner-theme($theme-primary);

  @include m(path) {
    stroke: #e6e6e6;
  }

  @include m(line) {
    stroke-dasharray: 100 * $PI;
    transition: .3s;
  }

  @include e(text) {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 1;
    transform: translateY(-50%);
    font-size: r(30);
  }

  /* sizes */
  @include m(lg) {
    @include spinner-size($spinner-diameter-lg);
  }

  /* themes */
  // @include m(default) {
  //   @include spinner-theme($theme-default);
  // }

  // @include m(primary) {
  //   @include spinner-theme($theme-primary);
  // }

  // @include m(info) {
  //   @include spinner-theme($theme-info);
  // }

  // @include m(warning) {
  //   @include spinner-theme($theme-warning);
  // }

  // @include m(error) {
  //   @include spinner-theme($theme-error);
  // }
}
