@import '../../icon/style/component.scss';

@include b(pull) {
  @include e(refresh,load) {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 0;
  }

  @include e(refresh) {
    align-items: flex-end;
    transition: all .3s;
  }

  @include e(load) {
    position: relative;
    @include onepx(top);
  }

  @include e(control) {
    display: flex;
    align-items: center;
    padding: r(10) 0;
    height: r(50);
    color: #999;
    font-size: r(13);

    i {
      font-size: r(22);
    }

    span {
      margin-left: r(8);
    }
  }
}
