@import '../../message/style/component.scss';

$prefixCls: za-noticebar;

@include b(noticebar) {
  display: flex;
  align-items: center;
  width: 100%;
  height: r(24);
  position: relative;
  overflow: hidden;

  @include e(body) {
    position: absolute;
    left: 0;
    white-space: nowrap;
  }
}

