@import '../../../styles/core/mixins/index';
@import '../../../styles/core/functions/index';
@import '../../../styles/variables';
@import '../../message/style/index';
$prefixCls: za-noticebar;

.#{$prefixCls} {
  width: 100%;
  height: r(24);
  position: relative;
  overflow: hidden;

  &-body {
    position: absolute;
    left: 0;
    line-height: r(24);
    white-space: nowrap;
  }
}

