@import '../../../styles/default';
@import '../../popup/style/index';

$prefixCls: za-collapse;

.#{$prefixCls} {
  overflow: hidden;

  &-item {
    &-title {
      position: relative;
      height: $collapse-height;
      line-height: $collapse-height;
      padding: 0 $collapse-padding;
      @include onepx(bottom);

      &:after {
        left: r(15);
      }
    }

    &-content {
      position: relative;
      height: 0;
      overflow: hidden;
      @include onepx(bottom);

      &:after {
        left: r(15);
      }

      &-inner {
        padding: $padding-v-lg $collapse-padding;
      }
    }

    &-content-anim {
      transition: all 0.15s ease-out;
    }

    &-arrow {
      position: absolute;
      width: r(10);
      height: r(10);
      top: r(20);
      right: $collapse-padding;
      border-right: r(2) solid $collapse-arrow-color;
      border-bottom: r(2) solid $collapse-arrow-color;
      transform: rotate(45deg);
      transition: transform 0.15s ease-out;
      transform-origin: 50% 50%;

      &-hidden {
        visibility: hidden;
      }
    }

    &.active {
      .#{$prefixCls}-item-content {
        height: auto;
      }

      .#{$prefixCls}-item-arrow {
        transform: rotate(-135deg);
      }
    }

    &.disabled {
      .#{$prefixCls}-item-arrow {
        border-right-color: $collapse-arrow-disabled-color;
        border-bottom-color: $collapse-arrow-disabled-color;
      }
    }

    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
      &-title,
      &-content {
        @include onepx(bottom);

        &:after {
          left: r(15);
        }
      }
    }
  }
}
