@import '../../../styles/default';
@import '../../icon/style/index';
$prefixCls: za-stepper;

@mixin stepper-theme($color) {
  .#{$prefixCls} {
    &-sub,
    &-plus {
      border: 1px solid $color;

      &.disabled {
        opacity: $disabled-opacity;
        cursor: not-allowed;
      }
    }

    &-body {
      border: 1px solid $color;
    }
  }
}

.#{$prefixCls} {
  display: flex;
  user-select: none;
  @include stepper-theme($border-color);

  &.disabled {
    .#{$prefixCls}-body {
      opacity: $disabled-opacity;
      cursor: not-allowed;
    }
  }

  &.shape-radius {
    .#{$prefixCls}-sub,
    .#{$prefixCls}-plus {
      border-radius: $radius-md;
    }

    .#{$prefixCls}-body {
      border-radius: r(4);
    }
  }

  &.shape-circle {
    .#{$prefixCls}-sub,
    .#{$prefixCls}-plus {
      border-radius: 50%;
    }

    .#{$prefixCls}-body {
      border-radius: r(400);
    }
  }

  &.shape-plump {
    .#{$prefixCls}-sub,
    .#{$prefixCls}-plus {
      border-radius: 50%;
    }

    .#{$prefixCls}-body {
      border-radius: r(4);
    }
  }

  &-sub,
  &-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: $stepper-height-md;
    height: $stepper-height-md;
    font-size: r(18);
    font-weight: bold;
    cursor: pointer;

    .za-icon {
      font-size: r(12);
    }
  }

  &-body {
    position: relative;
    width: r(50);
    margin: 0 r(4);
    padding: 0;
    text-align: center;
    height: $stepper-height-md;
    border-radius: 0;
    color: $color-text;
    font-size: r(14);
    outline: 0;
    -webkit-appearance: none;
    border: 1px solid #e6e6e6;
    caret-color: #12c287;
  }

  &.size-sm {
    .#{$prefixCls} {
      &-sub,
      &-plus {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: $stepper-height-sm;
        height: $stepper-height-sm;
        font-size: r(18);
        font-weight: bold;
        cursor: pointer;

        .za-icon {
          font-size: r(12);
        }
      }

      &-body {
        height: $stepper-height-sm;
      }
    }
  }
}
