@import '../../../styles/core/mixins/index';
@import '../../../styles/core/functions/index';
@import '../../../styles/variables';
$prefixCls: za-switch;

@mixin switch-theme($color) {
  .#{$prefixCls}-input {
    &:checked {
      border-color: $color;
      background-color: $color;
    }
  }
}

.#{$prefixCls} {
  @include switch-theme($theme-default);

  &-input {
    position: relative;
    width: r(53);
    height: r(32);
    border: r(1) solid #e5e5e5;
    border-radius: r(15.5);
    background-color: #fff;
    vertical-align: middle;
    outline: 0;
    transition: background-color 0.1s, border 0.1s;
    -webkit-appearance: none;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: r(30);
      border-radius: r(14.5);
    }

    &:before {
      width: r(49);
      background-color: #fff;
      transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1), -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
    }

    &:after {
      width: r(30);
      background-color: #fff;
      box-shadow: r(-1) r(2) r(2) 0px rgba(0,0,0,0.1),0px r(2) r(11.5) 0px rgba(0,0,0,0.08),0px 0px r(2) 0px rgba(0,0,0,0.2);
      transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35), -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
    }

    &:checked {
      &:before {
        transform: scale(0);
      }

      &:after {
        transform: translateX(r(21));
        box-shadow: 0 r(1) r(1) 0 rgba(0,127,84,1);
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: $disabled-opacity;
  }

  &.theme-primary {
    @include switch-theme($theme-primary);
  }

  &.theme-info {
    @include switch-theme($theme-info);
  }

  &.theme-success {
    @include switch-theme($theme-success);
  }

  &.theme-warning {
    @include switch-theme($theme-warning);
  }

  &.theme-error {
    @include switch-theme($theme-error);
  }
}

