@import '../../../styles/default';

$prefixCls: za-cell;

@mixin cell-theme($color) {
  .#{$prefixCls}-footer {
    color: $cell-description-color;
  }
}

.#{$prefixCls} {
  position: relative;
  overflow: hidden;
  background: $cell-background;
  @include cell-theme(#999);
  @include onepx(top);

  &:after {
    left: $cell-line-padding-left;
  }

  &.theme-primary {
    @include cell-theme($theme-primary);
  }

  &.theme-info {
    @include cell-theme($theme-info);
  }

  &.theme-success {
    @include cell-theme($theme-success);
  }

  &.theme-warning {
    @include cell-theme($theme-warning);
  }

  &.theme-error {
    @include cell-theme($theme-error);
  }

  &.has-icon {
    &:after {
      left: r(59);
    }
  }

  &.is-link {
    cursor: pointer;
    user-select: none;

    .#{$prefixCls}-inner {
      &:active {
        background-color: $cell-active-background;
      }
    }

    .#{$prefixCls}-title {
      flex: 1;
    }
  }

  &.disabled {
    .#{$prefixCls}-body,
    .#{$prefixCls}-footer {
      opacity: $disabled-opacity;
    }
  }

  &-inner {
    display: flex;
    align-items: center;
    padding: 0 r(15);
    font-size: r(15);
    min-height: r(52);
    line-height: r(28);

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }
  }

  &-body {
    flex: 1;
    display: flex;
  }

  &-footer {
    display: flex;
    justify-content: center;
    text-align: right;
    font-size: $cell-description-font-size;
  }

  &-arrow {
    margin-left: r(5);

    &:after {
      display: inline-block;
      content: '';
      border-right: r(2) solid $cell-arrow-color;
      border-top: r(2) solid $cell-arrow-color;
      width: $cell-arrow-length;
      height: $cell-arrow-length;
      transform: rotate(45deg);
    }
  }

  &-icon {
    text-align: center;
    margin-right: r(15);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &-title {
    width: $cell-label-width;
    padding: r(12) 0;
    overflow: hidden;
    color: $cell-title-color;
    font-size: $cell-title-font-size;
  }

  &-content {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &-help {
    padding: 0 r(15) r(10) r(15);
  }
}

