@import '../../message/style/component.scss';

$prefixCls: za-navbar;

.#{$prefixCls} {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: r(44);
  overflow: hidden;
  background: #fdfdfd;

  &-title {
    color: #464646;
    font-weight: 500;
    font-size: r(18);
    position: absolute;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, 0);
  }

  &-left {
    padding-left: r(16);

    .za-icon {
      margin-right: r(16);
    }
  }

  &-right {
    padding-right: r(16);

    .za-icon {
      margin-left: r(16);
    }
  }

  .za-icon {
    font-size: r(24);
  }
}

