@import '../../toast/style/component.scss';
@import '../../activity-indicator/style/component.scss';

@include b(loading) {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  user-select: none;
  z-index: $zIndex-loading;

  @include m(open) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include e(container) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: r(80);
    height: r(80);
    padding: r(20) r(15);
    border-radius: r(5);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
}

