
/* base */
$base-fontSize: 14;

$theme-default: #333;
$theme-default-light: rgba($theme-default, 0.5);
$theme-default-dark: darken($theme-default, 10%);

$theme-primary: #12c287;
$theme-primary-light: rgba($theme-primary, 0.1);
$theme-primary-dark: darken($theme-primary, 10%);

$theme-info: #347af6;
$theme-info-light: rgba($theme-info, 0.1);
$theme-info-dark: darken($theme-info, 10%);

$theme-success: #12c287;
$theme-success-light: rgba($theme-success, 0.1);
$theme-success-dark: darken($theme-success, 10%);

$theme-warning: #ec9131;
$theme-warning-light: rgba($theme-warning, 0.1);
$theme-warning-dark: darken($theme-warning, 10%);

$theme-error: #ff5050;
$theme-error-light: rgba($theme-error, 0.1);
$theme-error-dark: darken($theme-error, 10%);

$radius-xl: r(4);
$radius-lg: r(4);
$radius-md: r(4);
$radius-sm: r(4);
$radius-xs: r(4);

$height-xl: r(52);
$height-lg: r(48);
$height-md: r(44);
$height-sm: r(34);
$height-xs: r(27);

$padding-xl: r(25);
$padding-lg: r(20);
$padding-md: r(16);
$padding-sm: r(15);
$padding-xs: r(10);

$fontSize-xl: r(18);
$fontSize-lg: r(18);
$fontSize-md: r(17);
$fontSize-sm: r(14);
$fontSize-xs: r(14);

$zIndex-mask: 1000;
$zIndex-popup: 1300;
$zIndex-modal: 1400;
$zIndex-toast: 1500;
$zIndex-loading: 1500;

$disabled-opacity: .5;
$disabled-background: #ddd;
$disabled-color: #999;
$placeholder-color: #a9a9a9;
$icon-url: '//at.alicdn.com/t/font_126288_147h8m0m5se5ewmi';
$radius-round: r(1000);
$radius-circle: 50%;

// 文字色
$color-text: #464646;                    // 基本
$color-text-inverse: #fff;               // 反色
$color-text-placeholder: #a9a9a9;        // 文本框提示
$color-text-disabled: #bcbcbc;           // 失效
$color-text-caption: #909090;            // 辅助描述
$color-link: $theme-primary;               // 链接
$color-shadow: rgba(56, 56, 56, .15);    // 阴影色

// 背景色
$background-active: #e6e6e6;
$background-disabled: #bcbcbc;

// 透明度
$opacity-disabled: .5;
$opacity-mask: .4;
$opacity-toast: .7;
$opacity-tooltip: .7;

/* button */
$button-default-color: $theme-default;
$button-default-bg: #ddd;
$button-default-border: #ddd;
$button-default-activebg: rgba(#ddd, 0.5);

$button-primary-color: #fff;
$button-primary-bg: $theme-primary;
$button-primary-border: $theme-primary;
$button-primary-activebg: $theme-primary-light;

$button-info-color: #fff;
$button-info-bg: $theme-info;
$button-info-border: $theme-info;
$button-info-activebg: $theme-info-light;

$button-success-color: #fff;
$button-success-bg: $theme-success;
$button-success-border: $theme-success;
$button-success-activebg: $theme-success-light;

$button-warning-color: #fff;
$button-warning-bg: $theme-warning;
$button-warning-border: $theme-warning;
$button-warning-activebg: $theme-warning-light;

$button-error-color: #fff;
$button-error-bg: $theme-error;
$button-error-border: $theme-error;
$button-error-activebg: $theme-error-light;

/* spinner */
$spinner-diameter-md: r(20);
$spinner-diameter-lg: r(31);

/* calendar */
$calendar-action-bg: #f3f2f7;
$calendar-border-color: #e9e9e9;
$calendar-month-title: #000;
$calendar-date-color: #666;
$calendar-date-selected-color: #12c287;
$calendar-selected-range-color: #ccf2e6;

// ActionSheet
$actionsheet-margin: 0;
$actionsheet-item-height: r(50);
$actionsheet-item-font-size: r(16);

// Collapse
$collapse-height: r(45);
$collapse-padding: r(15);
$collapse-arrow-color: #c7c7cc;

// 垂直间距
$padding-v-sm: r(2);
$padding-v-md: r(6);
$padding-v-lg: r(9);
$padding-v-xl: r(12);

// Keyboard
$keyboard-item-height: r(50);
$keyboard-item-font-size: r(28);
$keyboard-icon-font-size: r(21);