@import '../../../styles/core/mixins/index';
@import '../../../styles/core/functions/index';
@import '../../../styles/variables';

$prefixCls: za-calendar;

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.#{$prefixCls} {
  width: 100%;
  min-height: 100%;
  padding-bottom: 20px;
  background: #fff;
  padding-top: 40px;
  transition: all .5s;
  transform: translateX(0);
}

.#{$prefixCls}_week {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3001;
  display: flex;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: $calendar-week-bg;
  color: $calendar-week-color;
}

.#{$prefixCls}_week-item {
  flex: 1;
  text-align: center;
}

.#{$prefixCls}_month-head {
  font-size: 17px;
  font-weight: 500;
  color: $calendar-month-title-color;
  margin: 20px 0 0 30px;
}

.#{$prefixCls}_dates {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.#{$prefixCls}_dates-item {
  position: relative;
  width: (100%/7);
  padding-bottom: (100%/7);

  &.inrange {
    &::after {
      content: ' ';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;
      width: 100%;
      height: 30px;
      background: $calendar-dates-inrange-bg;
    }

    .#{$prefixCls}_date-num {
      color: $calendar-dates-inrange-color;
    }
  }

  &.active {
    .#{$prefixCls}_date-num {
      color: #fff;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      text-align: center;
      background: $calendar-dates-active-bg;
    }
  }

  &.disabled {
    cursor: disabled;

    .#{$prefixCls}_date-num {
      color: $color-text-disabled important;
    }
  }

  &.inrange:last-child::after,
  &:nth-child(7n).inrange::after,
  &.active.inrange::after {
    border-radius: 0 15px 15px 0;
    width: calc(50% + 15px);
    right: calc(50% - 15px);
  }

  &:nth-child(7n + 1).inrange::after,
  &:not(.inrange) + .inrange::after {
    border-radius: 15px 0 0 15px;
    width: calc(50% + 15px);
    left: calc(50% - 15px);
  }

  &:not(.inrange) + .inrange:nth-child(7n)::after,
  &.active.inrange:last-child::after {
    border-radius: 15px;
    width: 30px;
    left: calc(50% - 15px);
  }
}

.#{$prefixCls}_dates-item_warp {
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.#{$prefixCls}_date-num {
  font-size: 16px;
  font-weight: 400;
  color: $calendar-dates-color;
}
